
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div ng-if="!toggle" id="demo1">
    <div>
    <!-- <form>  -->
        <h2 id="demo4">Login Here!</h2>
    <h6 id="demo5">WEBIO</h6>
    <br>
    <label for="email">Email:</label>
    <input type="email"  id="email" ng-model="login_email"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" ng-model="login_password">
    <br>
    <br>
    <a ng-href="#/register">new user</a>
    <br>
    <div class="red-data">{{failure_text}}</div>
    


    <button ng-click="login()" id="demo2">Login</button>
    

<!-- </form> -->
    <!-- <br>
    <button ng-click="changeView()" id="demo2">singnUp</button> -->
    </div>

</div>

</body>
</html>